@model Laboration.Models.Person

@{
    var dishes = ViewBag.Dishes as List<Laboration.Models.Dish>;
}

<h1>Skapa ny person</h1>

<form asp-action="Create" method="post" class="mt-3">

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">Förnamn</label>
        <input asp-for="FirstName" class="form-control placeholder="Förnamn"" />
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label">Efternamn</label>
        <input asp-for="LastName" class="form-control placeholder="Efternamn"" />
    </div>

    <div class="mb-3">
        <label asp-for="Age" class="form-label">Ålder</label>
        <input asp-for="Age" type="number" class="form-control placeholder="Ålder"" />
    </div>

    @foreach (var dish in dishes)
{
    <div class="form-check mb-3">
        <input 
            class="form-check-input"
            type="checkbox"
            name="SelectedDishes"
            value="@dish.DishID"
            id="dish_@dish.DishID" />

        <label class="form-check-label" for="dish_@dish.DishID">
            @dish.DishName
        </label>
    </div>
}
    <button type="submit" class="my-btn">Spara</button>
</form>